<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <form action="/updateEmployee" method="post">
        <input type="number" name="id" placeholder="Enter Id">
        <button type="submit">Submit</button>
    </form>
</body>
</html>